<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sass-style.css">
    <link rel="stylesheet" href="/tailwind-style.css">
</head>
<body class="bg-blue-700">

    <div class="cacete">Cara to na merda</div>
    <div class="font-bold">Cara to na merda</div>
    
</body>
</html>